body {
    background-image: url("../images/memphis-colorful.png");
    background-repeat: repeat;
 }

.crystals{
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.crystal{
  border:1px solid seagreen;
  height: 150px;
  width: 150px;
  border-radius: 4px;
  box-sizing: 5px 5px 5px 5px rgba(0,0,0, 0.5);
}

.crystal:hover{
  box-sizing: 5px 5px 5px 5px rgba(0,0,0, 0.5);
  padding: 10px;
  cursor: pointer;
}

img{
  height: 150px;
  width: 150px;
}